.stretchDot {
  z-index: 9999;
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: rgba(0, 87, 255, 0.5);
  border-radius: 50%;
}
.editStyle {
  border: 1px solid skyblue;
  box-sizing: content-box;
  position: absolute;
}
.rotate {
  z-index: 9999;
  position: absolute;
  color: rgba(0, 87, 255, 0.5);
  font-weight: bold;
  font-size: 24px;
}
